<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../content/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../content/css/main.min.css" rel="stylesheet">
    <!-- <link href="../content/fontawesome-free-5.15.3-web/css/all.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet">
    <title>پارسیان</title>
</head>

<body>

    <header class="w-100 m-0 header">

        <div class="w-100 m-0 header-top ">
            <div class="container">
                <div class="row w-100">
                    <div class=" col-12 col-xl-6 col-lg-6 col-md-6 d-flex justify-content-between">
                        <div class="d-flex">

                            <i class="far fa-clock ms-2 fa-i"></i>
                            <p>دوشنبه تا جمعه</p>

                        </div>
                        <div class="d-flex">

                            <i class="fas fa-phone-alt ms-2 fa-i"></i>
                            <p>02144441266</p>

                        </div>
                        <div class="d-flex">

                            <i class="fas fa-envelope ms-2 fa-i"></i>
                            <p>m.amiri.js@gmail.com</p>

                        </div>
                    </div>
                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 d-flex justify-content-between">
                        <div class="col-3"></div>
                        <div class="col-3 d-flex justify-content-between">
                            <a class="header-a">مشاغل</a>
                            <a class="header-a">میز راهنما</a>
                            <a class="header-a">ورود</a>
                        </div>
                        <div class="col-3 d-flex justify-content-between">
                            <i class="fab fa-instagram fab-i"></i>
                            <i class="fab fa-twitter fab-i"></i>
                            <i class="fab fa-facebook-square fab-i"></i>
                            <i class="fab fa-linkedin-in fab-i"></i>
                            <i class="fab fa-youtube fab-i"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class=" w-100 m-0 header-bootom">
            <div class="container">
                <div class="row w-100">

                    <div class=" col-2  col-xl-2 col-lg-2 col-md-2">
                        <div class="logo">
                            <img class="mt-3" src="../content/img/logo.png" alt="logo"></div>


                    </div>
                    <div class="col-8 col-xl-8 col-lg-8 col-md-8">
                        <nav class="menu-nav">
                            <ul class="menu-bar d-flex justify-content-around">
                                <li class="style-li"><a class="header-b-a" href="#">خانه</a></li>
                                <li class="style-li"><a class="header-b-a" href="#">درباره ما</a></li>
                                <li class="style-li"><a class="header-b-a" href="#">صفحات</a></li>
                                <li class="style-li"><a class="header-b-a" href="#">خدمات ما</a></li>
                                <li class="style-li"><a class="header-b-a" href="#">پروژه ها</a></li>
                                <li class="style-li"><a class="header-b-a" href="#">وبلاگ</a></li>
                                <li class="style-li"><a class="header-b-a" href="#">تیم ما</a></li>
                                <li class="style-li"><a class="header-b-a" href="#">تماس با ما</a></li>
                                <li class="style-li"><a class="header-b-a" href="#">فا</a></li>

                            </ul>
                        </nav>

                    </div>
                    <div class="col-2 col-xl-2 col-lg-2 col-md-2">
                        <button class="btn-header mt-3">دریافت نقل قول</button>

                    </div>
                </div>
            </div>
        </div>

    </header>

    <div class="row w-100 m-0">
        <div class="swiper-container swiper-top ">
            <div class="swiper-wrapper ">
                <div class="swiper-slide">
                    <div class="w-100 position-relative">
                        <img src="../content/img/slider-1.jpg">
                        <div class="text-slider-top">
                            <div class="d-flex  div-p">
                                <div class="line ms-1 mt-4"></div>
                                <p class="style-p my-3">ما مهندسین مدرن هستیم</p>
                            </div>
                            <h1 class="style-h my-3 h1"><span class="style-custom">برای آینده</span> قدرت ایجاد کنید</h1>
                            <p class="div-p my-3">برای شما پروژه ایجاد میکنیم.|</p>

                            <div class="d-flex justify-content-between box-btn">

                                <button class="slider-btn-R">کاوش کنید <i class="fas fa-arrow-left"></i></button>
                                <button class="slider-btn-L">تماس بگیرید <i class="fas fa-arrow-left"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="w-100 position-relative">
                        <img src="../content/img/slider-1.jpg">
                        <div class="text-slider-top">
                            <div class="d-flex  div-p">
                                <div class="line ms-1 mt-4"></div>
                                <p class="style-p my-3">ما مهندسین مدرن هستیم</p>
                            </div>
                            <h1 class="style-h h1 my-3"><span class="style-custom">برای آینده</span> قدرت ایجاد کنید</h1>
                            <p class="div-p my-3">برای شما پروژه ایجاد میکنیم.|</p>

                            <div class="d-flex justify-content-between box-btn">

                                <button class="slider-btn-R">کاوش کنید <i class="fas fa-arrow-left"></i></button>
                                <button class="slider-btn-L">تماس بگیرید <i class="fas fa-arrow-left"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="w-100 position-relative">
                        <img src="../content/img/slider-1.jpg">
                        <div class="text-slider-top">
                            <div class="d-flex  div-p">
                                <div class="line ms-1 mt-4"></div>
                                <p class="style-p my-3">ما مهندسین مدرن هستیم</p>
                            </div>
                            <h1 class="style-h h1 my-3"><span class="style-custom">برای آینده</span> قدرت ایجاد کنید</h1>
                            <p class="div-p my-3">برای شما پروژه ایجاد میکنیم.|</p>

                            <div class="d-flex justify-content-between box-btn">

                                <button class="slider-btn-R">کاوش کنید <i class="fas fa-arrow-left"></i></button>
                                <button class="slider-btn-L">تماس بگیرید <i class="fas fa-arrow-left"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>

        </div>

    </div>
    <div class="w-100 box-card ">
        <div class="container">
            <div class="row w-100 m-0 mb-5 ">
                <div class="card1 col-10 col-xl-4 col-lg-4 col-md-4">
                    <i class="fas fa-users-cog style-img-card mt-5"></i>
                    <p class="my-4">متخصص و حرفه ایی</p>
                    <p class="my-3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                </div>
                <div class="card2 col-10 col-xl-4 col-lg-4 col-md-4">

                    <i class="fas fa-phone-alt style-img-card mt-5"></i>
                    <p class="my-4 ">متخصص و حرفه ایی</p>
                    <p class="my-3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                </div>
                <div class="card3 col-10 col-xl-4 col-lg-4 col-md-4">
                    <i class="fas fa-users-cog style-img-card mt-5"></i>
                    <p class="my-4 ">متخصص و حرفه ایی</p>
                    <p class="my-3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box-nothing"></div>
    <div class="w-100">
        <div class="container">
            <div class="row w-100 box-about m-0 pt-5 mb-3">
                <div class="box-text-about col-10 col-xl-6 col-lg-6 col-md-6">
                    <div class="d-flex  div-p">
                        <div class="line ms-1 mt-4"></div>
                        <p class="style-p my-3">درباره ما</p>
                    </div>
                    <h4 class="style-h h4 my-3"> ما<span class="style-custom"> 25 </span> سال تجربه در<span class="style-custom"> مدیریت پروژه داریم </span></h4>
                    <p class="text-p">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    <div class="box-services mt-4 p-2">
                        <div class="d-flex justify-content-between div-services">
                            <i class="fas fa-chevron-left"></i>
                            <p>خدمات حرفه ایی</p>
                        </div>
                    </div>
                    <div class="box-management mt-4 p-2">
                        <div class="d-flex justify-content-between div-management">
                            <i class="fas fa-chevron-left"></i>
                            <p>مدیریت پروژه مشتری</p>
                        </div>
                    </div>
                    <div class="div-btn">
                        <button></button>
                    </div>
                </div>
                <div class="box-img-about col-10 col-xl-6 col-lg-6 col-md-6 position-relative">
                    <div class="d-flex justify-content-between col-12">

                        <div class="img-about-1 ">
                            <img src="../content/img/about-1.png"></div>
                        <div class="box-white position-absolute"></div>
                        <div class="img-about-2  position-absolute">
                            <img src="../content/img/about-2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>






    <script src="../content/js/jquery-3.4.1.min.js"></script>
    <script src="../content/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../content/js/parsian.js"></script>

</body>

</html>