@font-face {
    font-family: "IRANSans";
    src: url("../content/font/ttf/IRANSansWebFaNum.ttf"), url("../content/font/eot/IRANSansWebFaNum.eot"), url("../content/font/woff/IRANSansWebFaNum.woff"), url("../content/font/woff2/IRANSansWebFaNum.woff2");
}

body {
    background-color: white;
}

.row {
    margin: 0;
}


/********************about************************** */


/********************choose************************** */

.box-choose {
    width: 100%;
    height: auto;
    background-color: rgb(238, 236, 236);
}

.img-video {
    width: 100%;
    height: 480px;
}

.box-img-choose {}

.dive-choose {}

.img-choose {
    width: 40px;
    height: 40px;
}

.style-h {
    width: 450px;
}

.style-custom {
    color: #f37106;
}

.text-p {
    width: 480px;
    line-height: 1.5;
}

.div-p {
    width: 200px;
}

.style-p {
    color: #0c0b0b;
    font-size: 14px;
}

.line {
    border-top: 1px solid #f37106;
    width: 20px;
}

.color {
    color: #f37106;
}


/**********************what do we do**************************/

.box-txt-do {}

.text-p-do {
    width: 500px;
    line-height: 1.5;
}

.box-btn {
    border-bottom: 1px solid rgb(201, 200, 200);
}

.style-btn {
    border: none;
    outline: none;
    width: 170px;
    height: 45px;
    background-color: transparent;
}

.w-style {
    width: 94%;
    height: 115px;
    overflow: hidden;
}

.div-img-do {
    width: 545px;
    height: 360px;
}

.img-do {
    width: 100%;
    height: 100%;
}

.div-btn {}

.btn-style {
    background-color: #f7b338;
    border: none;
    width: 170px;
    height: 40px;
    color: white;
    transition: all 1s;
    z-index: 2;
}

.btn-style:hover {
    background-color: black;
    color: white;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fafafb !important;
    background-color: #f58d38 !important;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-link {
    height: 45px;
    display: block;
    padding: .5rem 1rem;
    color: #333435 !important;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}


/***********************customers*************************/

.customers {
    background-image: url(../img/partner-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 230px;
    background-size: cover;
    position: relative;
}

.box-opacity {
    width: 100%;
    height: 230px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #26272747;
}

.color-h {
    color: white;
    z-index: 2;
}

.div-img-customers {
    width: 120px;
    height: 50px;
}

.img-customers {
    width: 100%;
    height: 100%;
}


/*******************************services**************************/

.w-style {
    width: 94%;
    height: 115px;
    overflow: hidden;
}

.white-box {
    width: 100%;
    height: 300px;
    background-color: white;
    box-shadow: 0 0 7px 0 gray;
}

.style-i {
    font-size: 55px;
    color: #ffc74f;
}

.div-services-img {
    background-image: url(../img/counter-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 230px;
    background-size: cover;
}

.negative-margin {
    margin-top: -30px;
    position: relative;
    z-index: -1;
}


/************************support*****************************/

.box-support {
    background-image: url(../img/team-bg.jpg);
    background-repeat: no-repeat;
    height: 720px;
    background-size: cover;
}

.box-opacity-support {
    width: 100%;
    height: 720px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #262727d4;
}

.text-p-support {
    width: 300px;
    line-height: 1.5;
}

.box-white {
    background-color: white;
    box-shadow: 0 0 7px 0 #9c9a9a;
    height: 345px;
}

.style-img-support {
    height: 260px;
}

.color-gray {
    color: #9c9a9a;
}

.add-support {
    width: 230px;
    height: 230px;
    border-radius: 100%;
    background-color: #1d1d1d
}

.size-plus {
    font-size: 80px;
}

.position-style {
    position: absolute;
    top: 165px;
    right: 0px;
}


/**********************project***********************/

.background-black {
    background-color: black;
    width: 100%;
}

.color-w {
    color: white;
    z-index: 2;
}

.img-project {
    width: 675px;
    height: 230px;
}

.style-img-project {
    width: 100%;
    height: 100%;
}

.img-project-size {
    width: 337px;
    height: 230px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #f9b931;
}

.nav-link {
    height: 45px;
    display: block;
    padding: .5rem 1rem;
    color: #fcfcfc !important;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:hover {
    height: 45px;
    display: block;
    padding: .5rem 1rem;
    color: #f8c963 !important;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.img-project::before,
.img-project-size::before {
    content: " ";
    background: linear-gradient(to top, rgb(3, 3, 3), rgb(3, 3, 3), rgb(136, 136, 136));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .7;
    transform: scale(0);
}

.img-project:hover::before,
.img-project-size:hover::before {
    transform: scale(1);
    transition: all 0.8s;
}


/***************************customer2**************************/

.background-img {
    background-image: url(../img/construction-outline.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.main {
    font-family: Arial;
    width: 500px;
    display: block;
    margin: 0 auto;
}

img {
    /* background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px; */
    padding: 2%;
    position: relative;
    text-align: center;
}


/******************************assist*********************************/

.background-assist {
    background-image: url(../img/position-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 230px;
    width: 100%;
    position: relative;
}

.box-opacity-assist {
    width: 100%;
    height: 230px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #2627275e;
}

.style-slide {
    width: 100%;
    height: 100px;
}


/***********************news***********************/

.div-img-news {
    width: 255px;
    height: 200px;
}

.img-news {
    width: 100%;
    height: 100%;
}

.div-text-news {
    width: 255px;
    height: 200px;
}

.date-news {
    font-size: 11px;
    color: gray;
}

.title-news {
    color: black;
    transition: all 0.8s;
}

.title-news:hover {
    color: #f7b338;
}

.description-news {
    color: gray;
}

.more-news {
    color: #f7b338;
}