@font-face {
    font-family: "IRANSans";
    src: url("../content/font/ttf/IRANSansWebFaNum.ttf"), url("../content/font/eot/IRANSansWebFaNum.eot"), url("../content/font/woff/IRANSansWebFaNum.woff"), url("../content/font/woff2/IRANSansWebFaNum.woff2");
}

body {
    background-color: white;
}


/********************about************************** */


/********************choose************************** */

.box-choose {
    width: 100%;
    height: auto;
    background-color: rgb(238, 236, 236);
}

.img-video {
    width: 100%;
    height: 480px;
}

.box-img-choose {}

.dive-choose {}

.img-choose {
    width: 40px;
    height: 40px;
}

.style-h {
    width: 450px;
}

.style-custom {
    color: #f37106;
}

.text-p {
    width: 480px;
    line-height: 1.5;
}

.div-p {
    width: 200px;
}

.style-p {
    color: #0c0b0b;
    font-size: 14px;
}

.line {
    border-top: 1px solid #f37106;
    width: 20px;
}

.color {
    color: #f37106;
}


/**********************what do we do**************************/

.box-txt-do {}

.text-p-do {
    width: 500px;
    line-height: 1.5;
}

.box-btn {
    border-bottom: 1px solid rgb(201, 200, 200);
}

.style-btn {
    border: none;
    outline: none;
    width: 170px;
    height: 45px;
    background-color: transparent;
}

.w-style {
    width: 94%;
    height: 115px;
    overflow: hidden;
}

.div-img-do {
    width: 545px;
    height: 360px;
}

.img-do {
    width: 100%;
    height: 100%;
}

.div-btn {}

.btn-style {
    background-color: #f7b338;
    border: none;
    width: 170px;
    height: 40px;
    color: white;
    transition: all 1s;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fafafb !important;
    background-color: #f58d38 !important;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-link {
    height: 45px;
    display: block;
    padding: .5rem 1rem;
    color: #333435 !important;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}


/***********************customers*************************/

.customers {
    background-image: url(../img/partner-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 230px;
    background-size: cover;
    position: relative;
}

.box-opacity {
    width: 100%;
    height: 230px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #26272747;
}

.color-h {
    color: white;
}

.div-img-customers {
    width: 120px;
    height: 50px;
}

.img-customers {
    width: 100%;
    height: 100%;
}


/*******************************services**************************/

.w-style {
    width: 94%;
    height: 115px;
    overflow: hidden;
}

.white-box {
    width: 100%;
    height: 300px;
    background-color: white;
    box-shadow: 0 0 7px 0 gray;
}

.style-i {
    font-size: 55px;
    color: #ffc74f;
}